.column-fourth {
  flex-basis: calc(100% / 4);
  padding: 1rem;
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 400px) {
  .column-fourth {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 400px) {
  .column-fourth {
    flex-basis: 100%;
  }
}
