body {
  width: 100%;
  height: 100%;
}

header {
  background-color: #ff4567;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 50px;
}

i {
  color: white;
  margin: 20px;
}

.display-icon {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.loading-background {
  background-image: url("/images/loading.webp");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.skin-background {
  background-image: url("/images/mainbg.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading {
  height: 100vh;
}

.column-full {
  text-align: center;
}

.first-logo {
  width: auto;
  height: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.enter-button {
  margin-top: 10px;
  color: white;
  background: #ff4567;
  align-items: center;
  padding: 1rem 6rem;
  text-align: center;
  font-size: 20px;
  font-family: Lalezar, cursive, sans-serif;
  border: 3px solid #ff4567;
  border-radius: 50px;
  transition: all 0.15s ease-in-out;
}

.enter-button:hover {
  box-shadow: 0 0 10px 0 #ff4567 inset, 0 0 20px 2px #ff4567;
  border: 5px solid #ff4567;
}

.loading-pic {
  width: 100%;
}

/* search bar */
.main-search {
  font-size: 20px;
  border-radius: 2rem;
  text-align: left;
  border: none;
  box-shadow: inset;
  width: 15rem;
  height: 3rem;
  padding: 1rem;
}

.search-bar-full {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 2rem;
}

p {
  color: white;
  font-family: Lalezar, cursive, sans-serif;
  text-align: center;
}

.img-wrapper {
  width: 100%;

  /* background-color: rgba(219, 219, 219, 0.9); */
  border-radius: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

img {
  width: 100%;
}

.search-button {
  border-radius: 1rem;
  background-color: #ff4567;
  border: none;
  color: white;
  margin-left: 10px;
}

.search-button:hover {
  box-shadow: 0 0 5px 0 #ff4567 inset, 0 0 20px 2px #ff4567;
  border: 1px solid #ff4567;
}
